@font-face {
    font-family: Mone;
    src: url(Assets/Montserrat/static/Montserrat-Regular.woff2);

}

html {
    scroll-behavior: smooth;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mone;
}

body{
    overflow-x: hidden;
}

#nav {

    height: 130px;
    width: 100%;
   /* background-color:white; */
    display:flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 150px;
    gap:40px;
    position: fixed;
   z-index: 99;
}


#nav h4{
    text-transform: uppercase;
    font-weight: 550;
    color: white;
}

.logo {
    height: 80px;
}


video{
    height: 100%;
    width: 100%;
    position: fixed;
    object-fit: cover;
    z-index: -1;
   
}

#main{
    position: relative;
    background-color: rgb(0, 0, 0,0.4);
    display: flex;
}


#page1{
    height: 100vh;
    width: 100%; 
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
   
    color:rgba(247, 243, 243, 0.4);
    top: 100px;
}

#page1 h1{
    font-size: 130px;
    font-weight: 700;
    padding-left: 40px;
    position: relative;
}



#page1 h2{
    font-size: 23px;
    color: white;
}

.hoodies1 {
    display: flex;

}

.hoodies2 {
    display: flex;

}

.hoodies3 {
    display: flex;

}

.hoodies4 {
    display: flex;

}

.column{
    flex: 40%;
  padding:  0 10px;
}

.column2{
    flex: 40%;
  padding:  0 10px;
}

.column3{
    flex: 40%;
  padding:  0 10px;
}

.column3{
    flex: 40%;
  padding:  0 10px;
}



#hood1:hover{
    content: url(./Assets/shunsui\ hoodie\ front.png);
    
}
#hood2:hover{
    content: url(./Assets/shunsui\ hoodie\ front.png);
    
}

#hood3:hover{
    content: url(./Assets/shunsui\ hoodie\ front.png);
    
}

#hood4:hover{
    content: url(./Assets/shunsui\ hoodie\ front.png);
    
}


#hood1{
    height: 360px;
    width: 360px;

}


#hood2{
    height: 360px;
    width: 360px;

}

#hood3{
    height: 380px;
    width: 360px;

}

#hood4{
    height: 380px;
    width: 360px;

}



#container {
  
    position: relative;
    top: 1200px;
    height: 300px;
    width: 100%;
    
}

#footer-text{
    font-size: 50px;
    margin-left: 90px;
    color:rgb(234, 231, 231)
   
}

#order-btn{
    float: left;
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: bold;
    left: 1050px;
    width: 200px;
    height: 120px;
    bottom: 120px;
    border-radius: 7px;
    cursor: pointer;
    background-color: rgba(247, 243, 243, 0.4);

}

#sitansu {
    text-align: center;
    color: white;
   padding-top: 120px;
}





@media screen and (max-width:600px){

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    #page1 h1{
        font-size: 40px;
        font-weight: 700;
        padding-left: 10px;
        position: relative;
    }

    #page1 h2{
        font-size: 13px;
        color: white;
    }
    #nav {

        height: 100px;
        width: 100%;
       /* background-color:white; */
        display:flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0px 40px;
        gap:10px;
        position: fixed;
       z-index: 99;
    }

    #nav h4{
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 550;
        color: white;
    }

    #hood1{
        height: 200px;
        width: 200px;
    
    }
    
    #hood2{
        height: 200px;
        width: 200px;
    
    }
    
    #hood3{
        height: 200px;
        width: 200px;
    
    }
    
    #hood4{
        height: 210px;
        width: 210px;
    
    }

    #container {
  
        position: relative;
        top: 200px;
        height: 100px;
        width: 100%;
        
    }

    
#footer-text{
    margin-right: 100px;
    font-size: 20px;
    color:rgb(234, 231, 231)
   
}
    
#sitansu {
    font-size: 15px;
    text-align: center;
    color: white;
   padding-top: 120px;
   padding-bottom: 30px;
}

#order-btn{
    float: left;
    position: relative;
    color: white;
    font-size: 12px;
    font-weight: bold;
    left: 100px;
    width: 200px;
    height: 40px;
    border-radius: 7px;
    top: 50px;
    cursor: pointer;
    background-color: rgba(247, 243, 243, 0.4);

}

}